*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/TunaPasta01/build/
/TunaPasta01/build/intermediates/javac/debug/classes/
/TunaPasta02/build/
/TunaPasta02/build/intermediates/javac/debug/classes/
/TunaPasta03/build/
/TunaPasta03/build/intermediates/javac/debug/classes/
/TunaPasta17/build/
/TunaPasta18/build/
/TunaPasta19/build/
/TunaPasta19/build/intermediates/javac/debug/classes/
/TunaPasta20/build/
/TunaPasta20/build/intermediates/javac/debug/classes/