<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunaPasta14"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tunasashimi"
        android:label="@string/app_name">
        <activity
            android:name="com.tunaPasta14.activity.EntryAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tunaPasta14.activity.InitActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tunaPasta14.activity.HotelTest" />
        <activity android:name="com.tunaPasta14.activity.HotelSearch" />
        <activity android:name="com.tunaPasta14.activity.HotelDetail" />
        <activity android:name="com.tunaPasta14.activity.GifViewTest" />
        <activity android:name="com.tunaPasta14.activity.HideDatePickerDateTest" />
        <activity android:name="com.tunaPasta14.activity.WindowFocusChangedTest" />
        <activity android:name="com.tunaPasta14.activity.BreakPointsResumeTest" />
        <activity android:name="com.tunaPasta14.activity.SimulateClickEventTest" />
        <activity android:name="com.tunaPasta14.activity.StaticLayoutViewTest" />
        <activity android:name="com.tunaPasta14.activity.BlisterViewTest" />
        <activity android:name="com.tunaPasta14.activity.TVOffDemoTest" />
        <activity android:name="com.tunaPasta14.activity.FixedGridLayoutTest" />
        <activity android:name="com.tunaPasta14.activity.ImageFilterChoice" />
        <activity android:name="com.tunaPasta14.activity.ImageFilterTest" />
        <activity android:name="com.tunaPasta14.activity.SugaredlistAnimationsTest" />
        <activity android:name="com.tunaPasta14.activity.KeydemoActivity" />
        <activity android:name="com.tunaPasta14.activity.MultiTouchTestActivity" />
        <activity android:name="com.tunaPasta14.activity.XListViewTest" />

        <activity android:name="com.tunaPasta14.activity.DocumentActivity" />
        <activity android:name="com.tunaPasta14.activity.RotateActivity" />
        <activity android:name="com.tunaPasta14.activity.PathMorphActivity" />
        <activity android:name="com.tunaPasta14.activity.FillInHeartActivity" />

        <activity android:name="com.tunaPasta14.activity.MetaballViewTest" />
        <activity android:name="com.tunaPasta14.activity.RecyclerViewTest" />
        <activity android:name="com.tunaPasta14.activity.RecyclerViewMultiTest" />
        <activity android:name="com.tunaPasta14.activity.PicActivity" />
        <activity android:name="com.tunaPasta14.activity.InflateTest" />
        <activity android:name="com.tunaPasta14.activity.SoundPoolTest" />
        <activity android:name="com.tunaPasta14.activity.IDKeyBoardTest" />
        <activity android:name="com.tunaPasta14.activity.GlideTest" />
        <activity android:name="com.tunaPasta14.activity.IndentFocusListTest" />

        <receiver
            android:name="com.tunaPasta14.activity.LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>