<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunaPasta11"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--
         We will request access to the camera, saying we require a camera
         of some sort but not one with autofocus capability.
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.tunaPasta11.tools.DataTrans"
        android:allowBackup="true"
        android:icon="@drawable/tunasashimi"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--使用android:theme="@android:style/Theme.NoTitleBar之后CardView就看不清楚了 -->

        <activity
            android:name="com.tunaPasta11.activity.EntryAct"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tunaPasta11.activity.UnlockGesturePasswordTest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tunaPasta11.activity.CreateGesturePasswordTest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tunaPasta11.activity.GuideGesturePasswordTest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.tunaPasta11.activity.SwipeListViewTest" />
        <activity android:name="com.tunaPasta11.activity.RelativeLayoutLayoutTest" />
        <activity android:name="com.tunaPasta11.activity.TextViewDrawableLeftTest" />
        <activity android:name="com.tunaPasta11.activity.DLogTest" />
        <activity android:name="com.tunaPasta11.activity.CutoutPictureTest" />
        <activity android:name="com.tunaPasta11.activity.ClippingTest" />
        <activity android:name="com.tunaPasta11.activity.Transition3DTest" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation1" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation2" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation3" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation4" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation5" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation6" />
        <activity android:name="com.tunaPasta11.activity.LayoutAnimation7" />
        <activity android:name="com.tunaPasta11.activity.SensorsTest" />
        <activity android:name="com.tunaPasta11.activity.ArcsTest" />
        <activity android:name="com.tunaPasta11.activity.BitmapDecodeTest" />
        <activity
            android:name="com.tunaPasta11.activity.CameraPreviewTest"
            android:screenOrientation="landscape" />
        <activity android:name="com.tunaPasta11.activity.ColorMatrixTest" />
        <activity android:name="com.tunaPasta11.activity.CreateBitmapTest" />
        <activity android:name="com.tunaPasta11.activity.GradientDrawableTest" />
        <activity android:name="com.tunaPasta11.activity.ShapeDrawableTest" />
        <activity android:name="com.tunaPasta11.activity.FingerPaintTest" />
        <activity android:name="com.tunaPasta11.activity.MeasureTextTest" />
        <activity android:name="com.tunaPasta11.activity.PathEffectsTest" />
        <activity android:name="com.tunaPasta11.activity.PathFillTypesTest" />
        <activity
            android:name="com.tunaPasta11.activity.CardViewElevationTest"
            android:exported="true" />
    </application>

</manifest>